@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather+Sans&family=Monoton&family=Permanent+Marker&family=Recursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.container {
  box-sizing: content-box;
  margin: 1em auto;
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

h1 {
  font-family: "Monoton", cursive;
  font-size: 3.75em;
  margin: 0.15em 0 0 0;
}

h3 {
  color: #e75c43;
  font-family: "Indie Flower", cursive;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 2px;
}

.score-tracker {
  display: grid;
  font-size: 1.2em;
  grid-template-columns: repeat(3, 1fr);
  margin: 0.5rem auto;
  margin-bottom: 0.25em;
  width: 9.4rem;
}

.score {
  width: 2.5rem;
  height: 2.5rem;
  color: rgba(255, 102, 0, 0.801);
  font-family: "Permanent Marker", cursive;
  font-weight: 600;
}

.score-name {
  color: rgb(53, 49, 49);
}

.choose-mode {
  margin-bottom: 0.7em;
  margin-top: 0;
}

.hidden {
  visibility: hidden;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  grid-template-rows: repeat(3, 1fr);
  width: 19.875rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.game-cell {
  transition: 1s;
  transition-timing-function: ease-out;
  width: 6.5rem;
  height: 6.5rem;
  border: 2.5px solid #c08585;
  box-shadow: 0 0 10px 5px #a78d8d;
  line-height: 6.5rem;
  font-size: 4em;
  cursor: pointer;
}

.game-cell:hover {
  transition: 0.5s;
  transition-timing-function: ease-in;
  border-radius: 20px;
  background-color: #d69a9a;
}

.result {
  color: rgb(53, 49, 49);
  font-family: "Indie Flower", cursive;
  margin: 0 auto;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 22px;
  text-decoration: none;
  margin-left: 10px;
}

.mode-btn {
  background-color: #ffffff;
  border-radius: 13px;
  border: 3px solid #c08585;
  color: #ce705f;
}

.selected-btn {
  box-shadow: inset 0px 0px 0px 0px #c08585;
  background: linear-gradient(to bottom, #af8a8a 5%, #c55f5f 100%);
  background-color: #c55f5f;
  border-radius: 13px;
  border: 1px solid #c08585;
  color: #ffffff;
  text-shadow: 0px 0px 3px #d37878;
}

.mode-btn:hover {
  background: linear-gradient(to bottom, #af8a8a 5%, #c55f5f 100%);
  background-color: #c55f5f;
  color: #ffffff;
  cursor: pointer;
}

.reset {
  margin: 0 auto;
}

.reset-btn {
  box-shadow: inset 0px 0px 0px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 13px;
  border: 1px solid #566963;
  color: #ffffff;
  font-size: 1.1em;
  text-shadow: 0px 0px 3px #2b665e;
  margin: 1.5em 1em;
}

.reset-btn:active {
  position: relative;
  top: 1px;
}

.reset-btn:hover {
  background-color: #ffffff;
  background: none;
  text-shadow: none;
  color: #6c7c7c;
  box-shadow: none;
}

@media (max-width: 400px) {
  .game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.2rem;
    row-gap: 0.2rem;
    grid-template-rows: repeat(3, 1fr);
    width: 16rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .game-cell {
    width: 5rem;
    height: 5rem;
    line-height: 4.5rem;
    font-size: 2.8em;
  }

  .btn {
    display: block;
    margin: 10px auto;
    font-size: 1em;
    padding: 4px 10px;
    border-radius: 10px;
  }
}
